@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: Titillium Web, sans-serif;
	font-size: 18px;
	color: #212121;
	box-sizing: border-box;
}
